.grid{
    position: absolute;
    /* width: 600px; */
    width: 570px;
    height: 300px;
    border: 1px solid black;
    /* margin: 300px; */
}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: aqua;   
}

.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(68, 0, 255);  
    
}

.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}