.grid{
    height: 120px;
    width: 140px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 20px;
    width: 20px;
}

.player-one{
    background-color: red;
    border-radius: 50%;
}
.player-two{
    background-color: blue;
    border-radius: 50%;
}